.currencyBox {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.currencyBox select {
  padding: 10px;
  border-radius: 5px;
}

.currencyValue {
  font-size: 20px;
  margin-top: 10px;
  color: green;
}