.dashboardBox {
  margin-top: 20px;
}

.card {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 18px;
  min-width: 150px;
  text-align: center;
}