.tableBox {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #007bff;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.editBtn {
  background: orange;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  color: white;
  border-radius: 5px;
}

.deleteBtn {
  background: red;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
}

.editBtn:hover {
  background: darkorange;
}

.deleteBtn:hover {
  background: darkred;
}